* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}

        /* *Navbar* */

header{
    max-width:1600px ;
    width: 100%;
    height: 730px;  
    z-index: -10;
    background: #2f2f2f no-repeat url(images/background\ image.png) right;
}

.navbar{
    max-width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-around;
}
.nav-logo img{
    color: rgba(255, 255, 255, 0.42);  
    padding: 20px 0; 
}

.nav-link {
    display: flex;
    gap: 40px;
    padding: 15px 0;
}
.nav-link ul {
    display: flex;
    gap: 40px;
    padding-top: 13px;
}
.nav-link ul li:nth-of-type(1){
    color: #fff;
}
.nav-link ul li a{
    color: rgb(255, 255, 255, 0.6);
}
.nav-link ul li a:hover{
    padding-top: 30px;
    color: #fff;
}
.nav-link button , .main-card button {
    padding: 15px 30px;
    color: #fff;
    background-color: #F59B00;
    border-radius: 5px;
    border: 1px solid #333;
    cursor: pointer;
}

        /* MAIN */
main{
    max-width:100%;
    width: 1132px;
    height: 653px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background: no-repeat url(images/Cta.png)bottom 10% left 33%;
}
.main-card{
    max-width: 445px;
    width: 100%;
    height: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 120px;
    position: absolute;
    left: 3%;
    z-index: 2;
}
.main-card h3 {
    color: #F59B00;
}
.main-card h1 {
    max-width: 411px;
    width: 100%;
    height: 158px;
    font-size: 61px;
    color: #fff;
    position:relative;
}
.main-card h1 img {
    position: absolute;
    bottom: 14px;
    left: 100px;
}
.main-card p {
    line-height: 25.6px;
    color: rgba(255, 255, 255, 0.7);
}
.main-card button{
    width: 140px;
}
.main-img img{
    max-width: 620px;
    width: 100%;
    height: 714px;
    position: absolute;
    z-index: 1;
    right: 1%;
}

